form{
    text-align: center;
    background-color: rgb(159, 158, 158);
    padding: 16px;
}

input{
    text-align: center;
    margin-left: 50px;
    border-radius: 16px;
}
button{
    margin-left: 16px;
}

h1{
    margin-left: 50px;
}

h2{
    color: white;
}

h4{
    color: white;
    font-size: 20px;
}



